In [7]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (7,7) # Make the figures a bit bigger

import tensorflow as tf

In [4]:
!curl -L -o will_play_text.csv https://commondatastorage.googleapis.com/ckannet-storage/2012-04-24T183403/will_play_text.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:--  0:00:55 --:--:--     0  0 --:--:--  0:00:38 --:--:--     0curl: (6) Could not resolve host: commondatastorage.googleapis.com

In [5]:
!ls

Assignment 1 - First Steps.ipynb  RNN 1.ipynb  will_play_text.csv
MNIST_data			  mnist_logs

In [9]:
!head will_play_text.csv

In [16]:
df = pd.read_csv('will_play_text.csv', sep=';', header=None, names=['row', 'piece', 'chapter', 'section', 'character', 'line'])

In [17]:
df.head()

,row,piece,chapter,section,character,line
0,1,Henry IV,NaN,NaN,NaN,ACT I
1,2,Henry IV,NaN,NaN,NaN,SCENE I. London. The palace.
2,3,Henry IV,NaN,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,"

In [61]:
sentences = df[~df.character.isnull()].line

# mapping
letters = ['>'] + list(set(''.join(list(sentences))))
bw_mapping = dict(enumerate(letters))
fw_mapping = dict([(c, ix) for ix, c in enumerate(letters)])

sen_sz = 30

# dataset
sentences = [fw_mapping[c] for s in sentences if len(s)>sen_sz for c in list(s[:sen_sz])]
sentences = np.array(sentences).reshape((len(sentences) / sen_sz, sen_sz))
sentences

array([[41, 65,  3, ...,  3, 73, 59],
       [30, 59, 66, ...,  3, 68, 55],
       [24, 66, 56, ..., 53, 55, 66],
       ...,
       [27, 52, 53, ..., 65,  3, 60],
       [40, 55, 70, ..., 65, 58,  3],
       [45, 55,  3, ...,  3, 64, 55]])

In [60]:
[bw_mapping[c] for c in list(sentences[100])]

['W',
 'i',
 'l',
 'l',
 ' ',
 'h',
 'o',
 'l',
 'd',
 ' ',
 'a',
 't',
 ' ',
 'W',
 'i',
 'n',
 'd',
 's',
 'o',
 'r',
 ';',
 ' ',
 's',
 'o',
 ' ',
 'i',
 'n',
 'f',
 'o',
 'r']